body {
    margin: 0;
    overflow: hidden;
    /* Текстура разделочной доски (темное дерево) */
    background-color: #3d2b1f;
    background-image: 
        linear-gradient(90deg, rgba(255,255,255,.02) 50%, transparent 50%),
        linear-gradient(rgba(255,255,255,.02) 50%, transparent 50%),
        radial-gradient(circle at 50% 50%, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 100%);
    background-size: 40px 40px, 40px 40px, 100% 100%;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
    touch-action: none;
}

#gameCanvas {
    display: block;
}

#game-ui {
    position: absolute;
    top: 20px;
    width: 100%;
    color: #f1c40f; /* Золотистый цвет для текста на дереве */
    pointer-events: none;
    z-index: 10;
}

.stats {
    display: flex;
    justify-content: space-around;
    font-size: 26px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

#msg {
    text-align: center;
    margin-top: 20px;
    font-size: 45px;
    font-weight: bold;
    height: 50px;
    opacity: 0;
    transition: opacity 0.2s;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
}

#overlay {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 20;
    text-align: center;
}

button {
    padding: 15px 50px;
    font-size: 22px;
    background: #e67e22; /* Оранжевый как дерево */
    color: white;
    border: none;
    border-radius: 5px; /* Квадратная кнопка лучше подходит к доске */
    cursor: pointer;
    margin-top: 30px;
    box-shadow: 0 4px 0 #a84300;
}

button:active {
    transform: translateY(3px);
    box-shadow: 0 1px 0 #a84300;
}

.footer {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
    letter-spacing: 2px;
    pointer-events: none;
}
